
{% extends 'base.html.twig' %}

{% block titre %}Actualités{% endblock %}

{% block body %}

  <main id="page" class="container-fluid">
    <!--TITRE DE LA PAGE-->
    <div class="container">
      <h1 class="display-1 text-uppercase mt-4 ms-5">Actualités</h1>
    </div>

    <div class="row">
      <div id="maincomponents" class="container col-xl-8 col-lg-12 me-xl-4 me-lg-auto ms-auto">
        <!--Actualités de la page-->

        <section class="rounded">
          <div class="row gx-5">
            <div class="col-md-6 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="Images/2210-miss-picardie.jpg" class="img-fluid mt-3" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Nouvelles du mois</span>
              <h4><strong>QUI SERA MISS PICARDIE 2022 ?</strong></h4>
              <p class="text-muted">
                Elles seront 15 candidates à rivaliser de beauté, de charme et de prestance pour succéder
                à Hayate El Gharmaoui, Miss Picardie 2021, et représenter la Picardie à la finale nationale
                Miss France qui aura lieu le samedi 17 décembre 2022.
                Le gala se déroulera en présence de Diane Leyre, Miss France 2022. Cette année encore, les 
                spectateurs auront l’opportunité de participer au vote, aux côtés du jury présidé par l’animatrice
                 et maquilleuse professionnelle, Léa Djadja.
              </p>
              <button type="button" class="btn btn-primary"><a href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/qui-sera-miss-picardie-2022.html" class="text-white">Lire plus</a></button>
            </div>
          </div>
        </section>

        <section class="rounded">
          <div class="row gx-5">
            <div class="col-md-6 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="Images/grande-enquete.jpg" class="img-fluid mt-3" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Nouvelles du mois</span>
              <h4><strong>PROJET ALIMENTAIRE TERRITORIAL : RÉPONDEZ À L’ENQUÊTE !</strong></h4>
              <p class="text-muted">
                L’agglomération du Beauvaisis mène son Projet Alimentaire Territorial (PAT).
                L'objectif, destiné à tous les habitants et consommateurs du territoire : développer
                et rendre plus accessibles les produits de qualité, locaux, meilleurs pour l’environnement et pour la
                santé.
                En prenant 10 minutes pour répondre à cette enquête, vous participez à la construction de ce projet et
                nous permettez de mieux connaître vos habitudes alimentaires, vos critères de choix et vos propositions.
              </p>
              <button type="button" class="btn btn-primary"><a href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/projet-alimentaire-territorial-repondez-a-l-enquete.html" class="text-white">Lire plus</a></button>
            </div>
          </div>
        </section>

        <section class="rounded">
          <div class="row gx-5">
            <div class="col-md-6 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="Images/vive-le-week-end.jpg" class="img-fluid mt-3" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">Nouvelles du mois</span>
              <h4><strong>AGENDA DU WEEK-END DES 1ER ET 2 OCTOBRE DANS LE BEAUVAISIS</strong></h4>
              <p class="text-muted">
                L’arrivée de l’automne est ponctuée par de nombreuses manifestations, 
                à Beauvais et dans les communes de l’Agglo. Si vous cherchez comment 
                occuper votre week-end des 1er et 2 octobre, à vos agendas !
                Au programme : le cor autour de la musique de film…
                Stage « Octhorn » tout le week-end sur inscription.
              </p>
              <button type="button" class="btn btn-primary"><a  href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/agenda-du-week-end-des-1er-et-2-octobre-dans-le-beauvaisis.html" class="text-white">Lire plus</a></button>
            </div>
          </div>
        </section>


        <section class="rounded">
          <div class="row gx-5">
            <div class="col-md-6 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="Images/2209-accompagnement-professionnel.jpg" class="img-fluid mt-3" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <h4><strong>UN ACCOMPAGNEMENT PROFESSIONNEL POUR Y CROIRE ET AGIR</strong></h4>
              <p class="text-muted">
                La Communauté d’Agglomération du Beauvaisis (CAB) a mobilisé les acteurs de l’insertion, de l’emploi et de
                l’entrepreneuriat du territoire autour d’un nouveau dispositif de coaching, porté par l’association nationale 
                Y Croire & Agir, qui a permis d’aboutir à la mise en route d’une quinzaine de projets de création d’entreprise 
                ou de retour à l’emploi.
              </p>
              <button type="button" class="btn btn-primary" ><a href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/un-accompagnement-professionnel-pour-y-croire-et-agir.html" class="text-white">Lire plus</a></button>
            </div>
          </div>
        </section>


        <section class="rounded">
          <div class="row gx-5">
            <div class="col-md-6 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="Images/2209-fete-du-cidre.jpg" class="img-fluid mt-3" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <h4><strong>31ÈME FÊTE DU CIDRE À MILLY-SUR-THÉRAIN
              </strong></h4>
              <p class="text-muted">
                Milly-sur-Thérain organise sa 31ème Fête du cidre, les 1er et 2 octobre. Ce salon gastronomique et artisanal, soutenu par la 
                Communauté d’Agglomération du Beauvaisis, est organisé chaque année par le Comité des fêtes de Milly-sur-Thérain.Il met à l’honneur 
                la production locale de cidre, bien sûr, mais salue également la pomme, dans tous ses états ainsi que les artisans et producteurs du 
                terroir. Une manifestation familiale et grand public qui draine un public nombreux.
              </p>
              <button type="button" class="btn btn-primary"><a href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/31eme-fete-du-cidre-a-milly-sur-therain.html" class="text-white">Lire plus</a></button>
            </div>
          </div>
        </section>


        <section class="rounded">
          <div class="row gx-5">
            <div class="col-md-6 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="Images/2209-relais-tourisme-hermes.jpg" class="img-fluid mt-3" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <h4><strong>DES RELAIS D’INFORMATIONS SUR LE TERRITOIRE
              </strong></h4>
              <p class="text-muted">
                Afin de rendre l'information touristique accessible aux différentes portes d’entrée du territoire, l’Office de tourisme 
                de Beauvais & Beauvaisis met en place un Schéma d’accueil et de diffusion de l’information touristique. L’Office de tourisme de 
                Beauvais & Beauvaisis a la double ambition de satisfaire ses clients et d’avoir une relation partenariale épanouissante avec les acteurs locaux.
                L’accueil est un terme générique qui recouvre des réalités bien différentes : accueil physique, numérique, mobile, interprète et ambassadeur.
              </p>
              <button type="button" class="btn btn-primary"><a href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/des-relais-d-informations-sur-le-territoire.html" class="text-white">Lire plus</a></button>
            </div>
          </div>
        </section>


        <section class="rounded">
          <div class="row gx-5">
            <div class="col-md-6 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="Images/2208-micro-foret-goincourt.jpg" class="img-fluid mt-3" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <h4><strong>LES HABITANTS DE GOINCOURT VONT PLANTER UNE MICRO-FORÊT MIYAWAKI
              </strong></h4>
              <p class="text-muted">
                Un projet s’inspirant des forêts Miyawaki va être mené à l’automne. Les habitants de la commune de Goincourt sont invités à y participer.
                Afin de prolonger le projet municipal de Goincourt en faveur de la biodiversité (plantation de noyers avec l’association
                des parents d’élèves en 2020 et d’un verger avec les habitants en 2021), un habitant a proposé l’implantation d’une
                micro-forêt dense sur de mini-espaces verts.
              </p>
              <button type="button" class="btn btn-primary"><a href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/les-habitants-de-goincourt-vont-planter-une-micro-foret-miyawaki.html" class="text-white">Lire plus</a></button>
            </div>
          </div>
        </section>


        <section class="rounded">
          <div class="row gx-5">
            <div class="col-md-6 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                <img src="Images/2208-trail-la-lucienne.jpg" class="img-fluid mt-3" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <h4><strong>1ER TRAIL "LA LUCIENNE" AUTOUR DE MONTMILLE
              </strong></h4>
              <p class="text-muted">
                La mairie de Fouquenies organise le 1er trail de Fouquenies-Montmille « La Lucienne » le dimanche matin 25 septembre 2022. 
                Cet événement sportif et nature s’adresse à tous aux adultes et aux enfants, avec 4 parcours qui vous entraineront dans le 
                Bois du Parc, avec de belles perspectives sur l’église Saint-Lucien de Montmille.
              </p>
              <button type="button" class="btn btn-primary"><a href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/1er-trail-la-lucienne-autour-de-montmille.html" class="text-white">Lire plus</a></button>
            </div>
          </div>
        </section>

        <!--COMMENTAIRES-->
        <section id="comment" class="mt-3 mb-3 rounded bg-white shadow">
          <form>
            <h2 class="display-5 text-uppercase text-align-left text-break">Commentaires</h2>
            <div class="mb-3 mt-3">
              <label for="name" class="form-label">Nom:</label>
              <input type="text" class="form-control" id="completeName" placeholder="Entrez votre nom complet"
                name="completeName">
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Entrez votre email" name="email">
            </div>
            <div class="mb-3 mt-3">
              <label for="comment">Commentaire:</label>
              <textarea class="form-control" rows="5" id="comment" placeholder="Entrez votre commentaire"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
        </section>
      </div>

      <!--SIDEDIV-->
      <aside id="sidecomponents" class="container-fluid col-xl-3 col-lg-12 me-auto ms-xl-0 ms-lg-auto">
        <!--NEWSLETTER-->
        <section id="newsletter" class="rounded">
          <form>
            <h2 class="display-5 text-uppercase text-align-left text-break">newsletter</h2>
            <div class="mb-3 mt-3">
              <label for="name" class="form-label">Nom:</label>
              <input type="text" class="form-control" id="completeName" placeholder="Entrez votre nom complet"
                name="completeName">
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Entrez votre email" name="email">
            </div>
            <button type="submit" class="btn btn-primary">S'inscrire</button>
          </form>
        </section>

      </aside>

    </div>
  </main>

{% endblock %}

