
{% extends 'base.html.twig' %}

{% block titre %}Tourisme et transport{% endblock %}

{% block body %}
  <main id="page" class="container-fluid p-0">
    <!--TITRE DE LA PAGE-->
    <div class="container">
      <h1 class="display-1 text-uppercase mt-4 ms-5">Tourisme et Transport</h1>
    </div>

    <div class="row">
      <div id="maincomponents" class="container col-xl-8 col-lg-12 me-xl-4 me-lg-auto ms-auto">
        <!--ARTICLES DE LA PAGE-->
        <section id="articles" class="container-fluid rounded me-auto ms-xl-0 ms-lg-auto">

          <article>
            <h2>TRANSPORT EN BUS</h2>
            <div id="paragraphe" class="row">
              <p class="col-lg-9 col-md-8 col-sm-12">
                Avec le réseau Corolis, la communauté d’agglomération du Beauvaisis
                met tout en œuvre pour vous simplifier la vie et vous offrir un réseau
                de transports urbains toujours plus efficace.
                Le réseau Corolis a été entièrement modernisé pour
                devenir un réseau plus clair, lisible et efficace. Ce nouveau réseau,
                digne d’une commune comme Beauvais, a été lancé le 29 août 2016.
                </br>

                <u>Le billet unique de transport à 1€ la journée</u></br>
                Depuis janvier 2015, le réseau de transports urbains Corolis propose le ticket BUT,
                un billet unique de transport à 1€ par jour seulement.
                Titre de transport simplifié et à usage illimité sur toutes les lignes du réseau, hors services
                spécifiques (Corolis à la demande et navette express Hôtels), le BUT répond à la volonté de
                l’agglomération
                d’encourager l’utilisation des bus par l’ensemble des habitants du territoire.
                Ce pass journalier est vendu dans les bus, à l’agence Corolis ainsi que chez les dépositaires. Les
                usagers pourront
                charger de 1 à 5 tickets BUT sur un support sans contact (carte ou billet) pass Oise Mobilité, qu’il
                suffira pour
                être en règle de valider à chaque montée dans le bus. Le parc de véhicules Soucieuse de son empreinte
                écologique, la
                communauté d’agglomération du Beauvaisis, propriétaire des bus et minibus urbains, a choisi la
                technologie hybride diesel/électrique.
                Au rythme de 2 acquisitions par an, le parc de bus sera conforme aux normes d’accessibilité d’ici 2019,
                respectant les termes de la loi de février 2005.
              </p>

              <div class="col-lg-3 col-md-4 col-sm-12œ">
                <img class="img-fluid rounded m-auto" src="Images/1301-dsp-transports.jpg" alt="">
              </div>
            </div>
          </article>

          <article>
            <h2>SE RENDRE A L'AEROPORT</h2>
            <div id="paragraphe" class="row">
              <p class="col-lg-9 col-md-8 col-sm-12">
                La ligne 6 « Hôtel de ville - Tillé aéroport » et la navette aéroport vous permettent de rejoindre
                l’aéroport de Beauvais-Tillé.

                Téléchargez les grilles horaires sur le site internet: www.corolis.fr</p>

              <div class="col-lg-3 col-md-4 col-sm-12">
                  <img class="img-fluid rounded m-auto" src="Images/1707-aeroport-beauvais.jpg" alt="">
                </div>
              </div>
          </article>
          <article>
            <h2>OFFICE DE TOURISME</h2>
            <div id="paragraphe" class="row">
              <p class="col-lg-9 col-md-8 col-sm-12">
                <u>INFORMATIONS PRATIQUES:</u></br>
                Office de tourisme de l'agglomération de Beauvais</br>
                1, rue Beauregard</br>
                60000 Beauvais Cedex</br>
                Tél : 03 44 15 30 30</br>
                Fax : 03 44 15 30 31v

                http://www.visitbeauvais.fr</br>

                Horaires d'ouverture :</br>

                D'octobre à avril :
                Le lundi de 14h à 18h et du mardi au samedi de 09h30 à 12h30 et de 13h30 à 18h.
                </br>
                D'avril à octobre : 
                Le lundi de 14h à 18h, du mardi au samedi de 09h30 à 12h30 et de 13h30 à 18h et les dimanches et jours
                fériés de 10h à 13h et de 14h à 17h30.
                Les services proposés par l'Office de tourisme de l'agglomération de Beauvais:
                </br>

                - Mise à disposition de renseignements sur les attraits touristiques, les services et activités de
                Beauvais et de sa région,
                </br>
                - Une boutique
                </br>
                - Wifi gratuit 7J/7 et 24h/24 : simple d'utilisation connectez vous même quand l'office de tourisme est
                fermé
                </br>
                - Affichage numérique des manifestations du territoire : promotion 24h/24 des manifestations du
                territoire grâce à un écran extérieur
              </p>

              <div class="col-lg-3 col-md-4 col-sm-12">
                <img class="img-fluid rounded m-auto" src="Images/office-tourisme1.jpg" alt="">
              </div>
            </div>
          </article>
          <article>
            <h2>CATHEDRALE SAINT PIERRE</h2>
            <div id="paragraphe" class="row">
              <p class="col-lg-9 col-md-8 col-sm-12">
                <u>INFORMATIONS SUR LA CATHEDRALE:</u></br>


                Dimensions de la cathédrale:
                </br>
                Hauteur jusqu'au paratonnerre : 67,23 m</br>
                Longueur du transept intérieur : 58,6 m</br>
                Longueur du choeur : 47 m</br>
                Longueur du choeur / façade ouest : 72,5 m

                </br>
                Adresse :</br>
                Rue St-Pierre 60000 Beauvais</br>
                Tél : 03 44 48 11 60

                Sites complémentaires :</br>
                www.cathedrale-beauvais.fr</br>
                https://culture.beauvais.fr </br>
                Spectacle La Cathédrale Infinie
              </p>

              <div class="col-lg-3 col-md-4 col-sm-12">
                <img class="img-fluid rounded m-auto" src="Images/cathedrale.jpg" alt="">
              </div>
            </div>
          </article>
        </section>

        <!--COMMENTAIRES-->
        <section id="comment" class="mt-3 mb-3 rounded bg-white shadow">
          <form>
            <h2 class="display-5 text-uppercase text-align-left text-break">Commentaires</h2>
            <div class="mb-3 mt-3">
              <label for="name" class="form-label">Nom:</label>
              <input type="text" class="form-control" id="completeName" placeholder="Entrez votre nom complet"
                name="completeName">
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Entrez votre email" name="email">
            </div>
            <div class="mb-3 mt-3">
              <label for="comment">Commentaire:</label>
              <textarea class="form-control" rows="5" id="comment" placeholder="Entrez votre commentaire"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
          </form>
        </section>
      </div>

      <!--SIDEDIV-->
      <aside id="sidecomponents" class="container-fluid col-xl-3 col-lg-12 me-auto ms-xl-0 ms-lg-auto">
        <!--NEWSLETTER-->
        <section id="newsletter" class="rounded">
          <form>
            <h2 class="display-5 text-uppercase text-align-left text-break">newsletter</h2>
            <div class="mb-3 mt-3">
              <label for="name" class="form-label">Nom:</label>
              <input type="text" class="form-control" id="completeName" placeholder="Entrez votre nom complet"
                name="completeName">
            </div>
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Entrez votre email" name="email">
            </div>
            <button type="submit" class="btn btn-primary">S'inscrire</button>
          </form>
        </section>

        <!--ACTUALITÉS-->
        <section id="actu" class="mt-3 rounded d-none d-lg-block d-xl-block d-xll-block">
            <h2 class="display-5 text-uppercase text-align-left text-break">actualités</h2>

            <div id="carousel-actus" class="carousel slide" data-bs-ride="carousel">
            
              <!-- The slideshow/carousel -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="Images/2210-miss-picardie.jpg" class="d-block w-100">
                  <div class="carousel-legend">
                    <a href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/qui-sera-miss-picardie-2022.html" class="h6">QUI SERA MISS PICARDIE 2022 ?</a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="Images/grande-enquete.jpg" class="d-block w-100">
                  <div class="carousel-legend">
                    <a href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/projet-alimentaire-territorial-repondez-a-l-enquete.html" class="h6">PROJET ALIMENTAIRE TERRITORIAL : RÉPONDEZ À L’ENQUÊTE !</a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="Images/vive-le-week-end.jpg" class="d-block w-100">
                  <div class="carousel-legend">
                    <a href="http://www.beauvaisis.fr/actualites/actualites-du-beauvaisis/agenda-du-week-end-des-1er-et-2-octobre-dans-le-beauvaisis.html" class="h6">AGENDA DU WEEK-END DES 1ER ET 2 OCTOBRE DANS LE BEAUVAISIS</a>
                  </div>
                </div>
              </div>
            
              <!-- Left and right controls/icons -->
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel-actus" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-actus" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
              </button>
            </div>
        </section>
      </aside>

    </div>
  </main>
{% endblock %}

