{% extends 'base.html.twig' %}

{% block title %} Authentification - {{auth_title}}{% endblock %}

{% block body %}
    <main id="page" class="container-fluid">
        {{ form(form) }}
        {% if auth_url is defined %}
            <a href="{{auth_url}}">{{ auth_msg }}</a>
        {% endif %}
      
    </main>
{% endblock %}
