{% extends 'base.html.twig' %}

{% block title %} Authentification - {{auth_title}}{% endblock %}

{% block body %}
    <main id="page" class="container-fluid">
        
        <canvas id="chartTest" width="400" height="100"></canvas>
      
    </main>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    <script type="text/javascript" src="js/chart.js"></script>
{% endblock %}
