{% extends 'base.html.twig' %}

{% block title %} Authentification - {{auth_title}}{% endblock %}

{% block body %}
    <main id="page" class="container-fluid">
        <article>
            <h1>Un sondage santé</h1>
            <p>Veuillez choisir vos aliments favoris :</p>
            {% if error_msg is defined %}.
                <p class="error">{{error_msg}}</p>
            {% endif %}

            {{form(form)}}
        </article>
    </main>
{% endblock %}